src/main/resources/jaxb/history/history_schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="historyoperation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType> 
    </xs:element>
    <xs:element name="historyoperation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name ="historyelement" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>